@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
*, body {
  box-sizing: border-box;
}

.container {
  overflow: hidden;
}

.nav__container {
  padding: 12px 24px 12px 24px;
  background: #0B0B0B;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__container .burger__menu-block {
  display: none;
}
.nav__container .nav__block1 .nav__block1-ol {
  display: flex;
  align-items: center;
}
.nav__container .nav__block1 .nav__block1-ol .li__div {
  position: relative;
}
.nav__container .nav__block1 .nav__block1-ol .li__div .block1__container-li {
  display: flex;
}
.nav__container .nav__block1 .nav__block1-ol .li__div .block1__container-li .block1__li-div {
  margin-right: 2px;
  width: 6px;
  height: 6px;
  border: 1px solid #fff;
  border-color: #fff;
  border-radius: 999px;
}
.nav__container .nav__block1 .nav__block1-ol .li__div .block1__container-li .block1__li-div:last-child {
  margin: 0;
}
.nav__container .nav__block1 .nav__block1-ol .li__div .block1__container-li:hover div {
  border-color: grey;
}
.nav__container .nav__block1 .nav__block1-ol .li__div .li__div-ul {
  display: none;
  border: 1px solid grey;
  position: absolute;
  top: 15px;
  background: black;
  color: #fff;
  padding: 8px 7px 8px 8px;
  width: 130px;
}
.nav__container .nav__block1 .nav__block1-ol .li__div .li__div-ul .li__div-ol {
  width: 100%;
  padding: 5px;
  margin-bottom: 1px;
}
.nav__container .nav__block1 .nav__block1-ol .li__div .li__div-ul .li__div-ol:hover {
  background: #101010;
}
.nav__container .nav__block1 .nav__block1-ol .li__div .li__div-ul .li__div-ol:last-child {
  margin: 0;
}
.nav__container .nav__block1 .nav__block1-ol .nav__block1-li {
  font: 400 13px Segoe UI;
  color: #fff;
  margin-right: 24px;
}
.nav__container .nav__block1 .nav__block1-ol .block1__first-li1 {
  margin-right: 40px;
}
.nav__container .nav__block1 .nav__block1-ol .block1__first-li1 img {
  width: 130px;
}
.nav__container .nav__block1 .nav__block1-ol .nav__block1-l:last-child {
  margin: 0;
}
.nav__container .nav__block1 .nav__block1-ol .nav__block1-li:hover {
  color: grey;
  cursor: pointer;
}
.nav__container .nav__block2 .nav__block2-ol {
  display: flex;
}
.nav__container .nav__block2 .nav__block2-ol .nav__block2-li {
  font: 400 13px Segoe UI;
  color: #fff;
  margin-right: 8px;
}
.nav__container .nav__block2 .nav__block2-ol .block2__li-5 {
  margin-right: 24px;
}
.nav__container .nav__block2 .nav__block2-ol .block2__li-logo {
  margin-right: 16px;
}
.nav__container .nav__block2 .nav__block2-ol .block2__li-logo img {
  width: 17px;
  height: 17px;
}
.nav__container .nav__block2 .nav__block2-ol .nav__block2-li:last-child {
  margin: 0;
}
.nav__container .nav__block2 .nav__block2-ol .nav__block2-li:hover {
  cursor: pointer;
  color: grey;
}

.header__section1 {
  background-image: url("img/bg-header.png");
  padding: 125px 25px 0px 25px;
}
.header__section1 .section1__block {
  margin-bottom: 86px;
  line-height: 110px;
}
.header__section1 .section1__block .section1__text {
  font: 400 90px Segoe UI;
  line-height: 100px;
  color: white;
  text-align: center;
}
.header__section1 .section1__block-button {
  display: flex;
  justify-content: center;
  padding-bottom: 98px;
}
.header__section1 .section1__block-button .section__button {
  font: 16px 400 Segoe UI;
  border: 0 solid black;
  border-radius: 9999px;
  padding: 12px 18px;
  background: yellow;
}
.header__section1 .section1__block-button .section__button:hover {
  background: #a4b003;
  cursor: pointer;
}

.main .main__section1 {
  display: flex;
  flex-wrap: wrap;
}
.main .main__section1 .main__section1-block1 {
  width: 50%;
  height: 95vh;
  padding: 0 7.8vw;
  display: flex;
  align-items: center;
}
.main .main__section1 .main__section1-block1 .section1-box1 .section1__block1-title {
  font: 400 30px Segoe UI;
  color: white;
  line-height: 35px;
  margin-bottom: 28px;
}
.main .main__section1 .main__section1-block1 .section1-box1 .section1__block1-text {
  font: 400 13px Segoe UI;
  color: white;
  margin-bottom: 32px;
}
.main .main__section1 .main__section1-block1 .section1-box1 .section1__block1-button {
  font: 400 14px Segoe Ui;
  color: white;
  padding: 8px 15px;
  border-radius: 9999px;
  background: #000;
  margin-bottom: 10px;
}
.main .main__section1 .main__section1-block1 .section1-box1 .section1__block1-button:hover {
  opacity: 0.9;
  cursor: pointer;
}
.main .main__section1 .main__section1-block2 {
  width: 50%;
  position: relative;
}
.main .main__section1 .main__section1-block2 .section1__block2-video {
  height: 95vh;
  position: absolute;
  width: 100%;
  object-fit: cover;
}
.main .main__section1 .main__section1-block2 .section1__block2-box {
  position: relative;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .main__section1 .main__section1-block2 .section1__block2-box .section1__block2-text {
  font: 400 90px Segoe UI;
  position: absolute;
  text-align: center;
  z-index: 100;
  color: #fff;
}
.main .main__section1 .section1-block1 {
  background: #4A00FF;
}
.main .main__section1 .section1-block2 {
  background: #00FF9D;
}
.main .main__section1 .section1-block2 .section1-box1 .section1__block1-title, .main .main__section1 .section1-block2 .section1-box1 .section1__block1-text {
  color: black;
}
.main .main__section1 .section1-block3 {
  background: #FF8B00;
}
.main .main__section1 .section1-block3 .section1-box1 .section1__block1-title, .main .main__section1 .section1-block3 .section1-box1 .section1__block1-text {
  color: black;
}
.main .main__section2 {
  padding-top: 47px;
  background: black;
}
.main .main__section2 .main__section2-block .section2__box {
  position: relative;
  height: 150px;
}
.main .main__section2 .main__section2-block .section2__box .section2__block1-title {
  right: 20px;
  position: absolute;
  font: 400 60px Segoe UI;
  color: #fff;
}
.main .main__section2 .main__section2-block2 {
  overflow: hidden;
  box-sizing: content-box;
  padding-left: 50px;
}
.main .main__section2 .main__section2-block2 .section2__block2-box {
  position: relative;
  left: 0;
  display: flex;
  justify-content: space-between;
  transition-duration: 0.5s;
  margin-bottom: 35px;
}
.main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img1, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img2, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img3, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img4, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img5, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img6 {
  margin-right: 5.07vw;
  height: 35vw;
  min-width: 26.56vw;
  width: 100%;
  background-repeat: no-repeat;
  position: relative;
}
.main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img1 {
  background-image: url("img/IMg1.png");
  background-size: cover;
}
.main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img2 {
  background-image: url("img/IMAGE2.png");
  background-size: cover;
}
.main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img3 {
  background-image: url("img/img3.jpeg");
  background-size: cover;
}
.main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img4 {
  background-image: url("img/img4.jpeg");
  background-size: cover;
}
.main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img5 {
  background-image: url("img/img5.jpeg");
  background-size: cover;
}
.main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img6 {
  background-image: url("img/img6.jpeg");
  background-size: cover;
}
.main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img1, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img2, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img3, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img4, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img5, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img6 {
  color: #fff;
}
.main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img1 .section2__block2-img1-box, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img2 .section2__block2-img1-box, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img3 .section2__block2-img1-box, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img4 .section2__block2-img1-box, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img5 .section2__block2-img1-box, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img6 .section2__block2-img1-box {
  height: auto;
  position: absolute;
  bottom: 0;
  padding: 23vw 1.17vw 4.17vw 1.5vw;
}
.main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img1 .section2__block2-img1-box .block2__img1-title, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img2 .section2__block2-img1-box .block2__img1-title, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img3 .section2__block2-img1-box .block2__img1-title, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img4 .section2__block2-img1-box .block2__img1-title, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img5 .section2__block2-img1-box .block2__img1-title, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img6 .section2__block2-img1-box .block2__img1-title {
  font: 400 30px Segoe UI;
  line-height: 30px;
  margin-bottom: 20px;
}
.main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img1 .section2__block2-img1-box .block2__img1-text, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img2 .section2__block2-img1-box .block2__img1-text, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img3 .section2__block2-img1-box .block2__img1-text, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img4 .section2__block2-img1-box .block2__img1-text, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img5 .section2__block2-img1-box .block2__img1-text, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img6 .section2__block2-img1-box .block2__img1-text {
  font: 400 18px Segoe UI;
}
.main .main__section2 .main__section2-block2 .section2__block3 .block3__button-back {
  margin-right: 10px;
  margin-bottom: 64px;
}
.main .main__section2 .main__section2-block2 .section2__block3 .block3__button-next, .main .main__section2 .main__section2-block2 .section2__block3 .block3__button-back {
  width: 50px;
  height: 50px;
  background: black;
  color: #fff;
  cursor: pointer;
  border: 0.5px solid #fff;
  border-radius: 999px;
}
.main .main__section2 .main__section2-block2 .section2__block3 .block3__button-next:hover, .main .main__section2 .main__section2-block2 .section2__block3 .block3__button-back:hover {
  cursor: pointer;
}
.main .main__section3 {
  background: #ff39c7;
  padding-left: 50px;
  padding-top: 60px;
}
.main .main__section3 .section3__block {
  margin-bottom: 80px;
}
.main .main__section3 .section3__block .section3__block-title {
  font: 400 30px Segoe UI;
}
.main .main__section3 .section3__block2 {
  padding-bottom: 90px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main .main__section3 .section3__block2 .section3__block2-img {
  width: 160px;
  height: 82px;
  margin-right: 30px;
}
.main .main__section3 .section3__block2 .section__block2-img:last-child {
  margin: 0;
}
.main .main__section4 {
  padding: 32px 24px 0 2vw;
  display: flex;
  justify-content: center;
}
.main .main__section4 .section4__block .section4__box1 {
  margin-bottom: 23px;
}
.main .main__section4 .section4__block .section4__box1 .section4__box1-title {
  font: 500 20px Segoe UI;
}
.main .main__section4 .section4__block .section4__box2 {
  display: flex;
}
.main .main__section4 .section4__block .section4__box2 .section4__ul1 {
  margin-right: 10vw;
}
.main .main__section4 .section4__block .section4__box2 .section4__ul1 .section4__li1 {
  font: 500 13px Segoe UI;
  margin-bottom: 14px;
  min-width: 125px;
  height: 18px;
}
.main .main__section4 .section4__block .section4__box2 .section4__ul2 {
  box-sizing: content-box;
  padding-right: 22.4vw;
}
.main .main__section4 .section4__block .section4__box2 .section4__ul2 .section4__li2 {
  font: 500 13px Segoe UI;
  margin-bottom: 14px;
}
.main .main__section4 .section4__block .section4__box2 .section4__ul3 {
  text-align: right;
}
.main .main__section4 .section4__block .section4__box2 .section4__ul3 .section4__li3 {
  font: 400 14px Segoe UI;
  margin-bottom: 14px;
  width: 150px;
  height: 19px;
}

.footer {
  padding-top: 59px;
  background: #000;
}
.footer .footer__block {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}
.footer .footer__block .footer__title {
  font: 400 70px Segoe Ui;
  color: #fff;
}
.footer .footer__block2 {
  padding-bottom: 64px;
  display: flex;
  justify-content: center;
}
.footer .footer__block2 .footer__button {
  padding: 10px 22px;
  border-radius: 999px;
  background: yellow;
}
.footer .footer__block2 .footer__button:hover {
  background: #a4b003;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .footer .footer__block .footer__title {
    font: 400 50px Segoe Ui;
    color: #fff;
  }
}
@media screen and (max-width: 729px) {
  .main .main__section2 .main__section2-block2 {
    padding-left: 5vw;
  }
  .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img1, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img2, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img3, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img4, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img5, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img6 {
    height: 55vw;
    min-width: 40vw;
  }
}
@media screen and (max-width: 743px) {
  .main .main__section2 .main__section2-block .section2__box {
    height: 100px;
  }
  .main .main__section2 .main__section2-block .section2__box .section2__block1-title {
    font: 400 40px Segoe UI;
  }
  .main .main__section3 {
    padding-left: 3vw;
  }
  .main .main__section3 .section3__block2 {
    padding-bottom: 6vw;
  }
  .main .main__section3 .section3__block2 .section3__block2-img {
    min-width: 100px;
    max-width: 160px;
    margin-right: 2.4vw;
  }
  .main .main__section4 {
    display: none;
  }
}
@media screen and (max-width: 817px) {
  .nav__container {
    max-width: 817px;
    position: relative;
    z-index: 2;
    padding: 12px 24px 12px 24px;
    background: #0B0B0B;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
  }
  .nav__container .burger__menu-block {
    overflow: hidden;
    left: 0;
    width: 816px;
    position: relative;
    z-index: 4;
    background: #000a0a;
    display: none;
    justify-content: space-between;
    height: 100vh;
  }
  .nav__container .burger__menu-block .burder__box {
    margin-bottom: 25px;
    display: flex;
    padding: 20px 20px 20px 25px;
    border-bottom: 1px solid #3b3b3b;
    justify-content: space-between;
    width: 100%;
  }
  .nav__container .burger__menu-block .burder__box .burder__img {
    width: 120px;
  }
  .nav__container .burger__menu-block .burder__box .burger__X-box {
    cursor: pointer;
    position: relative;
    width: 20px;
    height: 20px;
    right: 10px;
    transform: rotate(45deg);
  }
  .nav__container .burger__menu-block .burder__box .burger__X-box .burder__X {
    background: #fff;
    width: 20px;
    bottom: 10px;
    height: 0.9px;
    position: absolute;
  }
  .nav__container .burger__menu-block .burder__box .burger__X-box .X-2 {
    transform: rotate(90deg);
  }
  .nav__container .burger__menu-block .burger__menu-text {
    padding-left: 25px;
    padding-right: 15px;
    margin-bottom: 20px;
  }
  .nav__container .burger__menu-block .burger__menu-text .burger__text-block .burder__ul {
    margin-bottom: 20px;
  }
  .nav__container .burger__menu-block .burger__menu-text .burger__text-block .burder__ul .burger__li:hover {
    cursor: pointer;
  }
  .nav__container .burger__menu-block .burger__menu-text .burger__text-block .burder__ul .burger__li {
    width: 150px;
    color: #fff;
    margin-bottom: 27px;
    font: 600 16px Segoe UI;
  }
  .nav__container .burger__menu-block .burger__menu-text .burger__text-block .burder__ul .burger__li img {
    margin-right: 20px;
  }
  .nav__container .burger__menu-block .burger__menu-text .burger__text-block .burder__ul .burger__li:last-child {
    margin: 0;
  }
  .nav__container .burger__menu-block .burger__menu-text .burger__text-block .burger__hr {
    border-bottom: 1px solid #3b3b3b;
  }
  .nav__container .burger__menu-block .burger__footer {
    padding-left: 25px;
    padding-right: 15px;
  }
  .nav__container .burger__menu-block .burger__footer .burger__footer-block .burder__footer-box {
    margin-bottom: 20px;
  }
  .nav__container .burger__menu-block .burger__footer .burger__footer-block .burder__footer-box .burger__footer-text {
    color: #fff;
    font: 500 16px Segoe UI;
  }
  .nav__container .burger__menu-block .burger__footer .burger__footer-block .burder__footer-box .burger__footer-text:hover {
    cursor: pointer;
  }
  .nav__container .burger__menu-block .burger__footer .burger__footer-block .burger__footer-block2 {
    display: flex;
    flex-direction: column;
  }
  .nav__container .burger__menu-block .burger__footer .burger__footer-block .burger__footer-block2 .burger__link1 {
    color: #fff;
    background: #000;
    border: 1px solid #fff;
  }
  .nav__container .burger__menu-block .burger__footer .burger__footer-block .burger__footer-block2 .burger__link1:hover {
    border-color: #727272;
  }
  .nav__container .burger__menu-block .burger__footer .burger__footer-block .burger__footer-block2 .burger__link2 {
    margin-bottom: 20px;
    color: #000;
    background: rgba(255, 255, 4, 0.9215686275);
  }
  .nav__container .burger__menu-block .burger__footer .burger__footer-block .burger__footer-block2 .burger__link2:hover {
    background: rgba(192, 192, 0, 0.9215686275);
  }
  .nav__container .burger__menu-block .burger__footer .burger__footer-block .burger__footer-block2 .burger__link3 {
    color: #000;
    background: #00ed82;
  }
  .nav__container .burger__menu-block .burger__footer .burger__footer-block .burger__footer-block2 .burger__link3:hover {
    background: rgba(205, 205, 0, 0.9215686275);
  }
  .nav__container .burger__menu-block .burger__footer .burger__footer-block .burger__footer-block2 .burger__link1, .nav__container .burger__menu-block .burger__footer .burger__footer-block .burger__footer-block2 .burger__link2, .nav__container .burger__menu-block .burger__footer .burger__footer-block .burger__footer-block2 .burger__link3 {
    transition-duration: 0.2s;
    text-decoration: none;
    font: 400 14px Segoe UI;
    text-align: center;
    border-radius: 999px;
    padding: 10px 20px;
    margin-bottom: 10px;
  }
  .nav__container .nav__block1 {
    display: block;
  }
  .nav__container .nav__block1 .nav__block1-ol .burger__box-logo {
    display: block;
    cursor: pointer;
    margin-right: 15px;
  }
  .nav__container .nav__block1 .nav__block1-ol .burger__box-logo .burger-logo {
    border-top: 1.5px solid grey;
    width: 20px;
    height: 5px;
  }
  .nav__container .nav__block1 .nav__block1-ol .nav__block1-li_hidden {
    display: none;
  }
  .nav__container .nav__block2 {
    display: block;
  }
  .nav__container .nav__block2 .nav__block2-ol {
    display: flex;
  }
  .nav__container .nav__block2 .nav__block2-ol .nav__block2-li_hidden {
    display: none;
  }
}
@media screen and (max-width: 837px) {
  .main .main__section1 .main__section1-block1 {
    padding: 0 2.8vw;
  }
  .main .main__section1 .main__section1-block2 .section1__block2-box .section1__block2-text {
    font: 400 50px Segoe UI;
  }
}
@media screen and (max-width: 1024px) {
  .header__section1 .section1__block .section1__text {
    font: 400 50px Segoe UI;
    line-height: 50px;
  }
}
@media screen and (max-width: 620px) {
  .main .main__section1 {
    display: grid;
    grid-template-rows: repeat(6, auto);
  }
  .main .main__section1 .div-3 {
    grid-area: 4/1/4/1;
  }
  .main .main__section1 .div-1, .main .main__section1 .div-4, .main .main__section1 .div-5 {
    min-height: 50vh;
    height: auto;
  }
  .main .main__section1 .div-2, .main .main__section1 .div-3, .main .main__section1 .div-6 {
    height: 60vh;
  }
  .main .main__section1 .div-2 .section1__block2-video, .main .main__section1 .div-3 .section1__block2-video, .main .main__section1 .div-6 .section1__block2-video {
    height: 60vh;
  }
  .main .main__section1 .div-2 .section1__block2-box, .main .main__section1 .div-3 .section1__block2-box, .main .main__section1 .div-6 .section1__block2-box {
    height: 60vh;
  }
  .main .main__section1 .main__section1-block1 {
    width: 100%;
  }
  .main .main__section1 .main__section1-block2 {
    width: 100%;
  }
}
@media screen and (max-width: 482px) {
  .main .main__section2 {
    padding-top: 27px;
  }
  .main .main__section2 .main__section2-block .section2__box {
    height: 60px;
  }
  .main .main__section2 .main__section2-block .section2__box .section2__block1-title {
    right: 20px;
    position: absolute;
    font: 400 25px Segoe UI;
    color: #ffffff;
  }
  .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img1 .section2__block2-img1-box .block2__img1-title, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img2 .section2__block2-img1-box .block2__img1-title, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img3 .section2__block2-img1-box .block2__img1-title, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img4 .section2__block2-img1-box .block2__img1-title, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img5 .section2__block2-img1-box .block2__img1-title, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img6 .section2__block2-img1-box .block2__img1-title {
    font: 400 20px Segoe UI;
    line-height: 20px;
    margin-bottom: 5px;
  }
  .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img1 .section2__block2-img1-box .block2__img1-text, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img2 .section2__block2-img1-box .block2__img1-text, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img3 .section2__block2-img1-box .block2__img1-text, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img4 .section2__block2-img1-box .block2__img1-text, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img5 .section2__block2-img1-box .block2__img1-text, .main .main__section2 .main__section2-block2 .section2__block2-box .section2__block2-img6 .section2__block2-img1-box .block2__img1-text {
    font: 400 14px Segoe UI;
  }
  .footer {
    padding-top: 59px;
    background: #000;
  }
  .footer .footer__block {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
  }
  .footer .footer__block .footer__title {
    font: 400 30px Segoe Ui;
    color: #fff;
  }
}/*# sourceMappingURL=site5-training.css.map */
